---
# Source: splunk-otel-collector/templates/deployment-cluster-receiver.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: default-splunk-otel-collector-k8s-cluster-receiver
  namespace: default
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.105.4
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.105.0"
    app: splunk-otel-collector
    component: otel-k8s-cluster-receiver
    chart: splunk-otel-collector-0.105.4
    release: default
    heritage: Helm
    app.kubernetes.io/component: otel-k8s-cluster-receiver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: splunk-otel-collector
      component: otel-k8s-cluster-receiver
      release: default
  template:
    metadata:
      labels:
        app: splunk-otel-collector
        component: otel-k8s-cluster-receiver
        release: default
      annotations:
        checksum/config: 4e343035a89a2b86f2f7841a81c3c485850742afe99e7c8c5d5069886a778ddc
    spec:
      serviceAccountName: default-splunk-otel-collector
      automountServiceAccountToken: false
      nodeSelector:
          kubernetes.io/os: windows
      containers:
      - name: otel-collector
        command:
        - powershell.exe
        - -command
        - .\otelcol.exe
        - --config=C:\\conf\relay.yaml
        image: quay.io/signalfx/splunk-otel-collector-windows:0.105.0
        imagePullPolicy: IfNotPresent
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "500"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: K8S_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: K8S_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SPLUNK_OBSERVABILITY_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: default-splunk-otel-collector
                key: splunk_observability_access_token
        readinessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /
            port: 13133
        resources:
          limits:
            cpu: 200m
            memory: 500Mi
        volumeMounts:
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: serviceaccount-token
          readOnly: true
        - mountPath: C:\conf
          name: collector-configmap
        - mountPath: /usr/lib/splunk-otel-collector/agent-bundle/run/collectd
          name: run-collectd
          readOnly: false
      terminationGracePeriodSeconds: 600
      volumes:
      - name: serviceaccount-token
        projected:
          defaultMode: 0444
          sources:
            - serviceAccountToken:
                expirationSeconds: 3607
                path: token
            - configMap:
                name: kube-root-ca.crt
                items:
                  - key: ca.crt
                    path: ca.crt
            - downwardAPI:
                items:
                  - path: namespace
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.namespace
      - name: collector-configmap
        configMap:
          name: default-splunk-otel-collector-otel-k8s-cluster-receiver
          items:
            - key: relay
              path: relay.yaml
      - name: run-collectd
        emptyDir:
          sizeLimit: 25Mi
