{{ $clusterReceiver := fromYaml (include "splunk-otel-collector.clusterReceiver" .) }}
{{- if and $clusterReceiver.enabled (eq (include "splunk-otel-collector.metricsEnabled" .) "true") }}
apiVersion: apps/v1
{{- /*
eks/fargate distributions use a two-replica StatefulSet instead of a single node deployment.
The first replica monitors all fargate node kubelets (except its own) via k8s_observer and kubeletstats receiver.
The second replica monitors the first replica's kubelet and the cluster.
*/}}
kind: {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }} StatefulSet {{- else }} Deployment {{- end }}
metadata:
  name: {{ template "splunk-otel-collector.fullname" . }}-k8s-cluster-receiver
  labels:
    {{- include "splunk-otel-collector.commonLabels" . | nindent 4 }}
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-k8s-cluster-receiver
    chart: {{ template "splunk-otel-collector.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    app.kubernetes.io/component: otel-k8s-cluster-receiver
  {{- if $clusterReceiver.annotations }}
  annotations:
    {{- toYaml $clusterReceiver.annotations | nindent 4 }}
  {{- end }}
spec:
  replicas: {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }} 2 {{- else }} 1 {{- end }}
  {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
  serviceName: {{ template "splunk-otel-collector.clusterReceiverServiceName" . }}
  podManagementPolicy: Parallel
  {{- end }}
  selector:
    matchLabels:
      app: {{ template "splunk-otel-collector.name" . }}
      component: otel-k8s-cluster-receiver
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "splunk-otel-collector.name" . }}
        component: otel-k8s-cluster-receiver
        release: {{ .Release.Name }}
        {{- if $clusterReceiver.podLabels }}
        {{- toYaml $clusterReceiver.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-cluster-receiver.yaml") . | sha256sum }}
        {{- if $clusterReceiver.podAnnotations }}
        {{- toYaml $clusterReceiver.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.autodetect.istio }}
        sidecar.istio.io/inject: "false"
        {{- end }}
    spec:
      serviceAccountName: {{ template "splunk-otel-collector.serviceAccountName" . }}
      nodeSelector:
        {{- if $clusterReceiver.nodeSelector }}
        {{ toYaml $clusterReceiver.nodeSelector | nindent 8 }}
        {{- else }}
          kubernetes.io/os: {{ .Values.isWindows | ternary "windows" "linux" }}
        {{- end }}
      {{- if $clusterReceiver.tolerations }}
      tolerations:
        {{ toYaml $clusterReceiver.tolerations | nindent 8 }}
      {{- end }}
      {{- if $clusterReceiver.affinity }}
      affinity:
        {{- toYaml $clusterReceiver.affinity | nindent 8 }}
      {{- end }}
      {{- if $clusterReceiver.securityContext }}
      securityContext:
        {{ toYaml $clusterReceiver.securityContext | nindent 8 }}
      {{- end }}
      {{- if (include "splunk-otel-collector.clusterReceiverInitContainers" .) }}
      initContainers:
        {{ include "splunk-otel-collector.clusterReceiverInitContainers" . | indent 8 }}
      {{- end }}
      containers:
      - name: otel-collector
        command:
        {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
        - bash
        - -c
        - "/splunk-scripts/eks-fargate-otelcol-with-env.sh --config=/splunk-messages/config.yaml --metrics-addr=0.0.0.0:8889"
        {{- else }}
        {{- if .Values.isWindows }}
        - powershell.exe
        - -command
        - .\otelcol.exe
        - --config=C:\\conf\relay.yaml
        {{- else }}
        - /otelcol
        - --config=/conf/relay.yaml
        {{- end }}
        {{- end }}
        image: {{ template "splunk-otel-collector.image.otelcol" . }}
        imagePullPolicy: {{ .Values.image.otelcol.pullPolicy }}
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "{{ include "splunk-otel-collector.convertMemToMib" $clusterReceiver.resources.limits.memory }}"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: K8S_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: K8S_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- if (eq (include "splunk-otel-collector.splunkO11yEnabled" .) "true") }}
          - name: SPLUNK_OBSERVABILITY_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_observability_access_token
          {{- end }}
          {{- if (eq (include "splunk-otel-collector.splunkPlatformEnabled" .) "true") }}
          - name: SPLUNK_PLATFORM_HEC_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_platform_hec_token
          {{- end }}
          {{- with $clusterReceiver.extraEnvs }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        readinessProbe:
          {{- if .Values.readinessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          {{- if .Values.livenessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        resources:
          {{- toYaml $clusterReceiver.resources | nindent 10 }}
        volumeMounts:
        - mountPath: {{ .Values.isWindows | ternary "C:\\conf" "/conf" }}
          name: collector-configmap
        {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
        - mountPath: /splunk-scripts
          name: eks-fargate-cr-script
        - mountPath: /splunk-messages
          name: messages
        {{- end }}
        {{- if $clusterReceiver.extraVolumeMounts }}
        {{- toYaml $clusterReceiver.extraVolumeMounts | nindent 8 }}
        {{- end }}
      terminationGracePeriodSeconds: {{ $clusterReceiver.terminationGracePeriodSeconds }}
      volumes:
      - name: collector-configmap
        configMap:
          name: {{ template "splunk-otel-collector.fullname" . }}-otel-k8s-cluster-receiver
          items:
            - key: relay
              path: relay.yaml
      {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
      - name: eks-fargate-cr-script
        configMap:
          name: {{ template "splunk-otel-collector.eksFargateClusterReceiverScript" . }}
          items:
            - key: script
              path: eks-fargate-otelcol-with-env.sh
              mode: 0777
      - name: eks-fargate-node-discoverer-script
        configMap:
          name: {{ template "splunk-otel-collector.clusterReceiverNodeDiscovererScript" . }}
          items:
            - key: script
              path: lookup-eks-fargate-receiver-node.sh
              mode: 0777
      - name: messages
        emptyDir: {}
      {{- end }}
      {{- if $clusterReceiver.extraVolumes }}
      {{- toYaml $clusterReceiver.extraVolumes | nindent 6 }}
      {{- end }}
      {{- if $clusterReceiver.priorityClassName }}
      priorityClassName: {{ $clusterReceiver.priorityClassName }}
      {{- end }}
{{- end }}
