{{ if and .Values.otelCollector.enabled (or .Values.metricsEnabled .Values.tracesEnabled) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "splunk-otel-collector.fullname" . }}
  labels:
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-collector
    chart: {{ template "splunk-otel-collector.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.otelCollector.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "splunk-otel-collector.name" . }}
      component: otel-collector
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "splunk-otel-collector.name" . }}
        component: otel-collector
        release: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-otel-collector.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ template "splunk-otel-collector.serviceAccountName" . }}
      {{- if .Values.otelCollector.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.otelCollector.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.otelCollector.tolerations }}
      tolerations:
        {{ toYaml .Values.otelCollector.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.otelCollector.affinity }}
      affinity:
        {{ toYaml .Values.otelCollector.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.otelCollector.securityContext }}
      securityContext:
        {{ toYaml .Values.otelCollector.securityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: otel-collector
        command:
        - /otelcol
        - --config=/conf/relay.yaml
        - --metrics-addr=0.0.0.0:8888
        {{- range .Values.otelCollector.extraArgs }}
        - {{ . }}
        {{- end }}
        image: {{ template "splunk-otel-collector.image.otelcol" . }}
        imagePullPolicy: {{ .Values.image.otelcol.pullPolicy }}
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "{{ include "splunk-otel-collector.convertMemToMib" .Values.otelCollector.resources.limits.memory }}"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: SPLUNK_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_access_token
          {{- with .Values.otelCollector.extraEnvs }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        ports:
        {{- range $key, $port := .Values.otelCollector.ports }}
        {{- if any (and $.Values.metricsEnabled (has "metrics" $port.enabled_for)) (and $.Values.tracesEnabled (has "traces" $port.enabled_for)) (and $.Values.logsEnabled (has "logs" $port.enabled_for)) }}
        - name: {{ $key }}
          {{- omit $port "enabled_for" | toYaml | trim | nindent 10 }}
        {{- end }}
        {{- end }}
        readinessProbe:
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          httpGet:
            path: /
            port: 13133
        resources:
          {{- toYaml .Values.otelCollector.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /conf
          name: collector-configmap
      terminationGracePeriodSeconds: {{ .Values.otelCollector.terminationGracePeriodSeconds }}
      volumes:
      - name: collector-configmap
        configMap:
          name: {{ template "splunk-otel-collector.fullname" . }}-otel-collector
          items:
            - key: relay
              path: relay.yaml
      {{- if .Values.otelCollector.priorityClassName }}
      priorityClassName: {{ .Values.otelCollector.priorityClassName }}
      {{- end }}
{{- end }}
