{{ $clusterReceiver := fromYaml (include "splunk-otel-collector.clusterReceiver" .) }}
{{- if eq (include "splunk-otel-collector.clusterReceiverEnabled" .) "true" }}
apiVersion: apps/v1
{{- /*
eks/fargate distributions use a two-replica StatefulSet instead of a single node deployment.
The first replica monitors all fargate node kubelets (except its own) via k8s_observer and kubeletstats receiver.
The second replica monitors the first replica's kubelet and the cluster.
*/}}
kind: {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }} StatefulSet {{- else }} Deployment {{- end }}
metadata:
  {{- /* StatefulSet names must be truncated or the `statefulset.kubernetes.io/pod-name` label value will be too long */}}
  name: {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }} {{ template "splunk-otel-collector.clusterReceiverTruncatedName" . }} {{- else }} {{ template "splunk-otel-collector.fullname" . }}-k8s-cluster-receiver {{- end }}
  namespace: {{ template "splunk-otel-collector.namespace" . }}
  labels:
    {{- include "splunk-otel-collector.commonLabels" . | nindent 4 }}
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-k8s-cluster-receiver
    chart: {{ template "splunk-otel-collector.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    app.kubernetes.io/component: otel-k8s-cluster-receiver
  {{- if $clusterReceiver.annotations }}
  annotations:
    {{- toYaml $clusterReceiver.annotations | nindent 4 }}
  {{- end }}
spec:
  replicas: {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }} 2 {{- else }} 1 {{- end }}
  {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
  serviceName: {{ template "splunk-otel-collector.clusterReceiverServiceName" . }}
  podManagementPolicy: Parallel
  {{- end }}
  selector:
    matchLabels:
      app: {{ template "splunk-otel-collector.name" . }}
      component: otel-k8s-cluster-receiver
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "splunk-otel-collector.name" . }}
        component: otel-k8s-cluster-receiver
        release: {{ .Release.Name }}
        {{- if $clusterReceiver.podLabels }}
        {{- toYaml $clusterReceiver.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-cluster-receiver.yaml") . | sha256sum }}
        {{- if $clusterReceiver.podAnnotations }}
        {{- toYaml $clusterReceiver.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.autodetect.istio }}
        sidecar.istio.io/inject: "false"
        {{- end }}
    spec:
      serviceAccountName: {{ template "splunk-otel-collector.serviceAccountName" . }}
      nodeSelector:
        {{- if $clusterReceiver.nodeSelector }}
        {{ toYaml $clusterReceiver.nodeSelector | nindent 8 }}
        {{- else }}
          kubernetes.io/os: {{ .Values.isWindows | ternary "windows" "linux" }}
        {{- end }}
      {{- if $clusterReceiver.tolerations }}
      tolerations:
        {{ toYaml $clusterReceiver.tolerations | nindent 8 }}
      {{- end }}
      {{- if or $clusterReceiver.affinity (eq (include "splunk-otel-collector.distribution" .) "eks/fargate") }}
      affinity:
        {{- $clusterReceiverPodAntiAffinity := `
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: component
                    operator: In
                    values:
                      - otel-k8s-cluster-receiver
              topologyKey: kubernetes.io/hostname
        ` }}
        {{- $clusterReceiver.affinity | mustMergeOverwrite (fromYaml $clusterReceiverPodAntiAffinity) | toYaml | nindent 8 }}
      {{- end }}
      {{- if $clusterReceiver.securityContext }}
      securityContext:
        {{- include "splunk-otel-collector.securityContext" (dict "isWindows" .Values.isWindows "securityContext" $clusterReceiver.securityContext) | nindent 8 }}
      {{- end }}
      initContainers:
        {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
        - name: cluster-receiver-node-discoverer
          image: public.ecr.aws/amazonlinux/amazonlinux:latest
          imagePullPolicy: IfNotPresent
          command: ["bash", "-c", "/splunk-scripts/init-eks-fargate-cluster-receiver.sh"]
          env:
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: init-eks-fargate-cluster-receiver-script
              mountPath: /splunk-scripts
            - name: messages
              mountPath: /splunk-messages
            - mountPath: /conf
              name: collector-configmap
        {{- end }}
        {{- if .Values.splunkPlatform.sendingQueue.persistentQueue.enabled }}
        - name: patch-dirs
          image: {{ template "splunk-otel-collector.image.initPatchLogDirs" . }}
          imagePullPolicy: {{ .Values.image.initPatchLogDirs.pullPolicy }}
          command: ['sh', '-c', '
          mkdir -p {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver;
          chown -Rv {{ $clusterReceiver.securityContext.runAsUser | default 999 }}:{{ $clusterReceiver.securityContext.runAsGroup | default 999 }} {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver;
          chmod -v g+rwxs {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver;
          setfacl -n -Rm d:m::rx,m::rx,d:g:{{ $clusterReceiver.securityContext.runAsGroup | default 999 }}:rx,g:{{ $clusterReceiver.securityContext.runAsGroup | default 999 }}:rx {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver;']
          securityContext:
            runAsUser: 0
          resources:
            {{- toYaml $clusterReceiver.resources | nindent 12 }}
          volumeMounts:
            - name: persistent-queue
              mountPath: {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver
        {{- end }}
      containers:
      - name: otel-collector
        command:
        {{- if .Values.isWindows }}
        - powershell.exe
        - -command
        - .\otelcol.exe
        - --config=C:\\conf\relay.yaml
        {{- else }}
        - /otelcol
        {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
        - --config=/splunk-messages/config.yaml
        {{- else }}
        - --config=/conf/relay.yaml
        {{- end }}
        {{- end }}
        {{- if .Values.clusterReceiver.featureGates }}
        - --feature-gates={{ .Values.clusterReceiver.featureGates }}
        {{- end }}
        image: {{ template "splunk-otel-collector.image.otelcol" . }}
        imagePullPolicy: {{ .Values.image.otelcol.pullPolicy }}
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "{{ include "splunk-otel-collector.convertMemToMib" $clusterReceiver.resources.limits.memory | int64 }}"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: K8S_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: K8S_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- if (eq (include "splunk-otel-collector.splunkO11yEnabled" .) "true") }}
          - name: SPLUNK_OBSERVABILITY_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_observability_access_token
          {{- end }}
          {{- if (eq (include "splunk-otel-collector.splunkPlatformEnabled" .) "true") }}
          - name: SPLUNK_PLATFORM_HEC_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_platform_hec_token
          {{- end }}
          {{- with $clusterReceiver.extraEnvs }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        readinessProbe:
          {{- if .Values.readinessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          {{- if .Values.livenessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        resources:
          {{- toYaml $clusterReceiver.resources | nindent 10 }}
        volumeMounts:
        {{- if or .Values.splunkPlatform.clientCert .Values.splunkPlatform.clientKey .Values.splunkPlatform.caFile }}
        - name: secret
          mountPath: /otel/etc
          readOnly: true
        {{- end }}
        {{- if .Values.splunkPlatform.sendingQueue.persistentQueue.enabled }}
        - name: persistent-queue
          mountPath: {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver
        {{- end }}
        - mountPath: {{ .Values.isWindows | ternary "C:\\conf" "/conf" }}
          name: collector-configmap
        {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
        - mountPath: /splunk-messages
          name: messages
        {{- end }}
        - mountPath: /usr/lib/splunk-otel-collector/agent-bundle/run/collectd
          name: run-collectd
          readOnly: false
        {{- if $clusterReceiver.extraVolumeMounts }}
        {{- toYaml $clusterReceiver.extraVolumeMounts | nindent 8 }}
        {{- end }}
      terminationGracePeriodSeconds: {{ $clusterReceiver.terminationGracePeriodSeconds }}
      volumes:
      - name: collector-configmap
        configMap:
          name: {{ template "splunk-otel-collector.fullname" . }}-otel-k8s-cluster-receiver
          items:
            - key: relay
              path: relay.yaml
      - name: run-collectd
        emptyDir:
          sizeLimit: 25Mi
      {{- if or .Values.splunkPlatform.clientCert .Values.splunkPlatform.clientKey .Values.splunkPlatform.caFile }}
      - name: secret
        secret:
          secretName: {{ template "splunk-otel-collector.secret" . }}
      {{- end }}
      {{- if .Values.splunkPlatform.sendingQueue.persistentQueue.enabled }}
      - name: persistent-queue
        hostPath:
          path: {{ .Values.splunkPlatform.sendingQueue.persistentQueue.storagePath }}/clusterReceiver
          type: DirectoryOrCreate
      {{- end }}
      {{- if eq (include "splunk-otel-collector.distribution" .) "eks/fargate" }}
      - name: init-eks-fargate-cluster-receiver-script
        configMap:
          name: {{ template "splunk-otel-collector.clusterReceiverNodeDiscovererScript" . }}
          items:
            - key: script
              path: init-eks-fargate-cluster-receiver.sh
              mode: 0555
      - name: messages
        emptyDir: {}
      {{- end }}
      {{- if $clusterReceiver.extraVolumes }}
      {{- toYaml $clusterReceiver.extraVolumes | nindent 6 }}
      {{- end }}
      {{- if $clusterReceiver.priorityClassName }}
      priorityClassName: {{ $clusterReceiver.priorityClassName }}
      {{- end }}
{{- end }}
