{{ if and .Values.otelK8sClusterReceiver.enabled (eq (include "splunk-otel-collector.metricsEnabled" .) "true") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "splunk-otel-collector.fullname" . }}-k8s-cluster-receiver
  labels:
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-k8s-cluster-receiver
    chart: {{ template "splunk-otel-collector.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    app.kubernetes.io/name: {{ template "splunk-otel-collector.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: {{ .Release.Service }}
    app.kubernetes.io/component: otel-k8s-cluster-receiver
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- if .Values.otelK8sClusterReceiver.annotations }}
  annotations:
    {{- toYaml .Values.otelK8sClusterReceiver.annotations | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ template "splunk-otel-collector.name" . }}
      component: otel-k8s-cluster-receiver
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "splunk-otel-collector.name" . }}
        component: otel-k8s-cluster-receiver
        release: {{ .Release.Name }}
        {{- if .Values.otelK8sClusterReceiver.podLabels }}
        {{- toYaml .Values.otelK8sClusterReceiver.podLabels | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-otel-k8s-cluster-receiver.yaml") . | sha256sum }}
        {{- if .Values.otelK8sClusterReceiver.podAnnotations }}
        {{- toYaml .Values.otelK8sClusterReceiver.podAnnotations | nindent 8 }}
        {{- end }}
        {{- if .Values.autodetect.istio }}
        sidecar.istio.io/inject: "false"
        {{- end }}
    spec:
      serviceAccountName: {{ template "splunk-otel-collector.serviceAccountName" . }}
      nodeSelector:
        {{- if .Values.otelK8sClusterReceiver.nodeSelector }}
        {{ toYaml .Values.otelK8sClusterReceiver.nodeSelector | nindent 8 }}
        {{- else }}
          kubernetes.io/os: {{ .Values.isWindows | ternary "windows" "linux" }}
        {{- end }}
      {{- if .Values.otelK8sClusterReceiver.tolerations }}
      tolerations:
        {{ toYaml .Values.otelK8sClusterReceiver.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.otelK8sClusterReceiver.affinity }}
      affinity:
        {{- toYaml .Values.otelK8sClusterReceiver.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.otelK8sClusterReceiver.securityContext }}
      securityContext:
        {{ toYaml .Values.otelK8sClusterReceiver.securityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: otel-collector
        command:
        {{- if .Values.isWindows }}
        - powershell.exe
        - -command
        - .\otelcol.exe
        - --config=C:\\conf\relay.yaml
        {{- else }}
        - /otelcol
        - --config=/conf/relay.yaml
        {{- end }}
        - --metrics-addr=0.0.0.0:8889
        {{- range .Values.otelK8sClusterReceiver.extraArgs }}
        - {{ . }}
        {{- end }}
        image: {{ template "splunk-otel-collector.image.otelcol" . }}
        imagePullPolicy: {{ .Values.image.otelcol.pullPolicy }}
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "{{ include "splunk-otel-collector.convertMemToMib" .Values.otelK8sClusterReceiver.resources.limits.memory }}"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: K8S_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: K8S_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- if (eq (include "splunk-otel-collector.splunkO11yEnabled" .) "true") }}
          - name: SPLUNK_O11Y_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_o11y_access_token
          {{- end }}
          {{- if (eq (include "splunk-otel-collector.splunkPlatformEnabled" .) "true") }}
          - name: SPLUNK_PLATFORM_HEC_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "splunk-otel-collector.secret" . }}
                key: splunk_platform_hec_token
          {{- end }}
          {{- with .Values.otelK8sClusterReceiver.extraEnvs }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        readinessProbe:
          {{- if .Values.readinessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          {{- if .Values.livenessProbe.initialDelaySeconds }}
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          {{- end }}
          httpGet:
            path: /
            port: 13133
        resources:
          {{- toYaml .Values.otelK8sClusterReceiver.resources | nindent 10 }}
        volumeMounts:
        - mountPath: {{ .Values.isWindows | ternary "C:\\conf" "/conf" }}
          name: collector-configmap
        {{- if .Values.otelK8sClusterReceiver.extraVolumeMounts }}
        {{- toYaml .Values.otelK8sClusterReceiver.extraVolumeMounts | nindent 8 }}
        {{- end }}
      terminationGracePeriodSeconds: {{ .Values.otelK8sClusterReceiver.terminationGracePeriodSeconds }}
      volumes:
      - name: collector-configmap
        configMap:
          name: {{ template "splunk-otel-collector.fullname" . }}-otel-k8s-cluster-receiver
          items:
            - key: relay
              path: relay.yaml
      {{- if .Values.otelK8sClusterReceiver.extraVolumes }}
      {{- toYaml .Values.otelK8sClusterReceiver.extraVolumes | nindent 6 }}
      {{- end }}
      {{- if .Values.otelK8sClusterReceiver.priorityClassName }}
      priorityClassName: {{ .Values.otelK8sClusterReceiver.priorityClassName }}
      {{- end }}
{{- end }}
