{{ $gateway := fromYaml (include "splunk-otel-collector.gateway" .) }}
{{ $gatewayEnabled := eq (include "splunk-otel-collector.gatewayEnabled" .) "true" }}
{{- $svc := (include "splunk-otel-collector.getServiceConfig" (dict "context" . "svc" .Values.gateway.service) | fromYaml) }}
{{ if and $gatewayEnabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "splunk-otel-collector.fullname" . }}
  namespace: {{ template "splunk-otel-collector.namespace" . }}
  labels:
    {{- include "splunk-otel-collector.commonLabels" . | nindent 4 }}
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-collector
    chart: {{ template "splunk-otel-collector.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    app.kubernetes.io/component: otel-collector
{{- with $svc.annotations }}
  annotations:
{{ toYaml . | trim | indent 4 }}
{{- end }}
spec:
  type: {{ $svc.type }}
  {{- if $svc.trafficDistribution }}
  trafficDistribution: {{ $svc.trafficDistribution }}
  {{- end }}
  ports:
  {{- range $key, $port := $gateway.ports }}
  {{- $metricsEnabled   := and (eq (include "splunk-otel-collector.metricsEnabled"   $) "true") (has "metrics"   $port.enabled_for) }}
  {{- $tracesEnabled    := and (eq (include "splunk-otel-collector.tracesEnabled"    $) "true") (has "traces"    $port.enabled_for) }}
  {{- $logsEnabled      := and (eq (include "splunk-otel-collector.logsEnabled"      $) "true") (has "logs"      $port.enabled_for) }}
  {{- $profilingEnabled := and (eq (include "splunk-otel-collector.profilingEnabled" $) "true") (has "profiling" $port.enabled_for) }}
  {{- if or $metricsEnabled $tracesEnabled $logsEnabled $profilingEnabled }}
  - name: {{ $key }}
    port: {{ $port.containerPort }}
    targetPort: {{ $key }}
    protocol: {{ $port.protocol }}
  {{- end }}
  {{- end }}
  selector:
    app: {{ template "splunk-otel-collector.name" . }}
    component: otel-collector
    release: {{ .Release.Name }}
{{- end }}
