{{ if .Values.targetAllocator.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ template "splunk-otel-collector.namespace" . }}
  name: {{ template "splunk-otel-collector.fullname" . }}-ta
  labels:
    app: targetAllocator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: targetAllocator
  template:
    metadata:
      labels:
        app: targetAllocator
    spec:
      serviceAccountName: {{ template "splunk-otel-collector.targetAllocatorServiceAccountName" . }}
      automountServiceAccountToken: false
      containers:
        - name: targetallocator
          image: {{ .Values.targetAllocator.image }}
          ports:
            - containerPort: 8080
              name: http-port
          volumeMounts:
            - name: config-volume
              mountPath: /conf/
            - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              name: serviceaccount-token
              readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "splunk-otel-collector.targetAllocatorConfigMapName" . }}
        - name: serviceaccount-token
          projected:
            defaultMode: 0444
            sources:
              - serviceAccountToken:
                  path: token
              - configMap:
                  name: kube-root-ca.crt
                  items:
                    - key: ca.crt
                      path: ca.crt
              - downwardAPI:
                  items:
                    - path: namespace
                      fieldRef:
                        apiVersion: v1
                        fieldPath: metadata.namespace
{{- end }}
