.idea
*.iml
.DS_Store
*splunk_kubernetes_debug_info_*

# Helm
**/charts/*.tgz
helm-charts/splunk-otel-collector/Chart.lock
helm-charts/splunk-otel-collector/RELEASE.md

**/__pycache__/*
bin/

# helm unittests - remove when ready to snapshots for unittest
**__snapshot__**

.tools/

# dotnet related files created when opening the repository in VSCode (if dotnet related extensions are installed)
functional_tests/functional/testdata/dotnet/obj
chart.sln

.*.venv

# CRD schemas generated for kubeconform
generated-crd-schemas/

# Kubeconform download artifact
kubeconform.tar.gz
