apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-traffic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proxy-traffic
  template:
    metadata:
      name: proxy-traffic
      labels:
        app: proxy-traffic
    spec:
      containers:
        - image: busybox
          name: busybox
          imagePullPolicy: IfNotPresent
          ports:
            - name: otlp
              containerPort: {{ .otlpReceiverPort }}
              protocol: TCP
            - name: signalfx
              containerPort: {{ .signalFxReceiverPort }}
              protocol: TCP
            - name: hec
              containerPort: {{ .hecReceiverPort }}
              protocol: TCP
            - name: hecMetrics
              containerPort: {{ .hecMetricsReceiverPort }}
              protocol: TCP
            - name: k8sCluster
              containerPort: {{ .signalFxReceiverK8sClusterReceiverPort }}
              protocol: TCP
            - name: hecLogsObjects
              containerPort: {{ .hecLogsObjectsReceiverPort }}
              protocol: TCP
            - name: api
              containerPort: {{ .apiPort }}
              protocol: TCP
