apiVersion: v1
kind: Service
metadata:
  name: proxy-traffic
spec:
  type: ClusterIP
  ports:
    - name: otlp
      port: {{ .otlpReceiverPort }}
      targetPort: {{ .otlpReceiverPort }}
      protocol: TCP
    - name: signalfx
      port: {{ .signalFxReceiverPort }}
      targetPort: {{ .signalFxReceiverPort }}
      protocol: TCP
    - name: hec
      port: {{ .hecReceiverPort }}
      targetPort: {{ .hecReceiverPort }}
      protocol: TCP
    - name: hecMetrics
      port: {{ .hecMetricsReceiverPort }}
      targetPort: {{ .hecMetricsReceiverPort }}
      protocol: TCP
    - name: k8sCluster
      port: {{ .signalFxReceiverK8sClusterReceiverPort }}
      targetPort: {{ .signalFxReceiverK8sClusterReceiverPort }}
      protocol: TCP
    - name: hecLogsObjects
      port: {{ .hecLogsObjectsReceiverPort }}
      targetPort: {{ .hecLogsObjectsReceiverPort }}
      protocol: TCP
    - name: api
      port: {{ .apiPort }}
      targetPort: {{ .apiPort }}
      protocol: TCP
  selector:
    app: proxy-traffic
