---
splunkPlatform:
  token: foobar
  endpoint: {{ .LogHecEndpoint }}
  metricsEnabled: true
  logsEnabled: true
  metricsIndex: {{ .MetricsIndex }}
  index: {{ .LogsIndex }}
  {{ if .NonDefaultSourcetype }}
  {{ if .Sourcetype }}
  sourcetype: {{ .Sourcetype }}
  {{ end }}
  {{ if .SourcetypeMetrics }}
  metricsSourcetype: {{ .SourcetypeMetrics }}
  {{ end }}
  {{ end }}

agent:
  config:
    exporters:
      splunk_hec/platform_metrics:
        endpoint: {{ .MetricHecEndpoint }}

clusterReceiver:
  k8sObjects: []

clusterName: dev-operator
