---
# Source: splunk-otel-collector/templates/targetAllocator-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: default-splunk-otel-collector-ta-configmap
  namespace: default
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.130.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.130.0"
    app: splunk-otel-collector
    chart: splunk-otel-collector-0.130.0
    release: default
    heritage: Helm
data:
  targetallocator.yaml: |
    allocation_strategy: per-node
    collector_selector:
      matchlabels:
        component: otel-collector-agent
    filter_strategy: relabel-config
    prometheus_cr:
      enabled: true
      pod_monitor_selector: {}
      scrapeInterval: 30s
      service_monitor_selector: {}
