clusterName: sock
splunkObservability:
  realm:       CHANGEME
  accessToken: CHANGEME
  ingestUrl: {{ .IngestURL }}

clusterReceiver:
  enabled: false

agent:
  extraEnvs:
    - name: SPLUNK_DEBUG_CONFIG_SERVER
      value: "true"
  config:
    service:
      telemetry:
        logs:
          level: debug
    receivers:
      receiver_creator:
        receivers:
          prometheus/kubernetes-apiserver:
            rule: type == "pod" && labels["component"] == "kube-apiserver"
            config:
              config:
                scrape_configs:
                  - job_name: "kubernetes-apiserver"
                    scheme: https
                    authorization:
                      credentials_file: "/var/run/secrets/kubernetes.io/serviceaccount/token"
                      type: Bearer
                    tls_config:
                      ca_file: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
                      insecure_skip_verify: true
                    static_configs:
                      - targets: [ "`endpoint`:6443" ]
                    metric_relabel_configs:
                      - source_labels: [__name__]
                        action: keep
                        regex: "(apiserver_longrunning_requests|apiserver_request_duration_seconds|apiserver_storage_objects|apiserver_response_sizes|apiserver_request_total|kubernetes_build_info|rest_client_requests_total|rest_client_request_duration_seconds|apiserver_storage_size_bytes|apiserver_requested_deprecated_apis)(?:_sum|_count|_bucket)?"
  controlPlaneMetrics:
    etcd:
      enabled: true
