splunkObservability:
   realm:       CHANGEME
   accessToken: CHANGEME
   apiUrl: {{ .ApiURL }}
   ingestUrl: {{ .IngestURL }}

clusterName: test-cluster

agent:
  tokenPassthrough: true
  config:
    exporters:
      otlp_http:
        traces_endpoint: {{ .OTLPSink }}/v2/trace/otlp

clusterReceiver:
  enabled: false
