---
# Source: splunk-otel-collector/templates/configmap-gateway.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: default-splunk-otel-collector-otel-collector
  namespace: default
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.130.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.130.0"
    app: splunk-otel-collector
    chart: splunk-otel-collector-0.130.0
    release: default
    heritage: Helm
data:
  relay: |
    connectors:
      routing/logs:
        default_pipelines:
        - logs
        table:
        - condition: instrumentation_scope.attributes["otel.entity.event_as_log"] == true
          context: log
          pipelines:
          - logs/entities
    exporters:
      otlphttp/entities:
        auth:
          authenticator: headers_setter
        logs_endpoint: https://ingest.CHANGEME.signalfx.com/v3/event
      signalfx:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: https://api.CHANGEME.signalfx.com
        ingest_url: https://ingest.CHANGEME.signalfx.com
        sending_queue:
          num_consumers: 32
      splunk_hec/o11y:
        disable_compression: true
        endpoint: https://ingest.CHANGEME.signalfx.com/v1/log
        log_data_enabled: true
        profiling_data_enabled: false
        sending_queue:
          num_consumers: 32
        token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
    extensions:
      headers_setter:
        headers:
        - action: upsert
          default_value: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
          from_context: X-SF-TOKEN
          key: X-SF-TOKEN
      health_check:
        endpoint: 0.0.0.0:13133
      http_forwarder:
        egress:
          endpoint: https://api.CHANGEME.signalfx.com
      zpages: null
    processors:
      batch:
        metadata_keys:
        - X-SF-Token
      filter/logs:
        logs:
          exclude:
            match_type: strict
            resource_attributes:
            - key: splunk.com/exclude
              value: "true"
      k8sattributes:
        extract:
          annotations:
          - from: pod
            key: splunk.com/sourcetype
          - from: namespace
            key: splunk.com/exclude
            tag_name: splunk.com/exclude
          - from: pod
            key: splunk.com/exclude
            tag_name: splunk.com/exclude
          - from: namespace
            key: splunk.com/index
            tag_name: com.splunk.index
          - from: pod
            key: splunk.com/index
            tag_name: com.splunk.index
          labels:
          - key: app
          metadata:
          - k8s.namespace.name
          - k8s.node.name
          - k8s.pod.name
          - k8s.pod.uid
          - container.id
          - container.image.name
          - container.image.tag
        pod_association:
        - sources:
          - from: resource_attribute
            name: k8s.pod.uid
        - sources:
          - from: resource_attribute
            name: k8s.pod.ip
        - sources:
          - from: resource_attribute
            name: ip
        - sources:
          - from: connection
        - sources:
          - from: resource_attribute
            name: host.name
      memory_limiter:
        check_interval: 2s
        limit_mib: ${SPLUNK_MEMORY_LIMIT_MIB}
      resource/add_cluster_name:
        attributes:
        - action: upsert
          key: k8s.cluster.name
          value: CHANGEME
      resource/add_collector_k8s:
        attributes:
        - action: insert
          key: k8s.node.name
          value: ${K8S_NODE_NAME}
        - action: insert
          key: k8s.pod.name
          value: ${K8S_POD_NAME}
        - action: insert
          key: k8s.pod.uid
          value: ${K8S_POD_UID}
        - action: insert
          key: k8s.namespace.name
          value: ${K8S_NAMESPACE}
      resource/add_mode:
        attributes:
        - action: insert
          key: otelcol.service.mode
          value: gateway
      resource/logs:
        attributes:
        - action: upsert
          from_attribute: k8s.pod.annotations.splunk.com/sourcetype
          key: com.splunk.sourcetype
        - action: delete
          key: k8s.pod.annotations.splunk.com/sourcetype
        - action: delete
          key: splunk.com/exclude
      resourcedetection:
        detectors:
        - env
        - system
        override: true
        timeout: 15s
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus/collector:
        config:
          scrape_configs:
          - job_name: otel-collector
            metric_relabel_configs:
            - action: drop
              regex: promhttp_metric_handler_errors.*
              source_labels:
              - __name__
            - action: drop
              regex: otelcol_processor_batch_.*
              source_labels:
              - __name__
            scrape_interval: 10s
            static_configs:
            - targets:
              - localhost:8889
      signalfx:
        access_token_passthrough: true
        endpoint: 0.0.0.0:9943
    service:
      extensions:
      - health_check
      - headers_setter
      - zpages
      - http_forwarder
      pipelines:
        logs:
          exporters:
          - splunk_hec/o11y
          processors:
          - memory_limiter
          - k8sattributes
          - filter/logs
          - batch
          - resource/logs
          receivers:
          - routing/logs
        logs/entities:
          exporters:
          - otlphttp/entities
          processors:
          - memory_limiter
          - batch
          receivers:
          - routing/logs
        logs/split:
          exporters:
          - routing/logs
          receivers:
          - otlp
        metrics/collector:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource/add_collector_k8s
          - resourcedetection
          - resource/add_mode
          - resource/add_cluster_name
          receivers:
          - prometheus/collector
      telemetry:
        metrics:
          readers:
          - pull:
              exporter:
                prometheus:
                  host: localhost
                  port: 8889
                  without_scope_info: true
                  without_type_suffix: true
                  without_units: true
        resource:
          service.name: otel-collector
