---
# Source: splunk-otel-collector/templates/configmap-agent.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: default-splunk-otel-collector-otel-agent
  namespace: default
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.130.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.130.0"
    app: splunk-otel-collector
    chart: splunk-otel-collector-0.130.0
    release: default
    heritage: Helm
data:
  relay: |
    exporters:
      otlphttp:
        auth:
          authenticator: headers_setter
        metrics_endpoint: https://ingest.CHANGEME.signalfx.com/v2/datapoint/otlp
        traces_endpoint: https://ingest.CHANGEME.signalfx.com/v2/trace/otlp
      otlphttp/entities:
        auth:
          authenticator: headers_setter
        logs_endpoint: https://ingest.CHANGEME.signalfx.com/v3/event
      signalfx:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: https://api.CHANGEME.signalfx.com
        correlation: null
        ingest_url: https://ingest.CHANGEME.signalfx.com
        root_path: /hostfs
        sync_host_metadata: true
      signalfx/histograms:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: https://api.CHANGEME.signalfx.com
        ingest_url: https://ingest.CHANGEME.signalfx.com
        send_otlp_histograms: true
    extensions:
      headers_setter:
        headers:
        - action: upsert
          default_value: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
          from_context: X-SF-TOKEN
          key: X-SF-TOKEN
      health_check:
        endpoint: 0.0.0.0:13133
      k8s_observer:
        auth_type: serviceAccount
        node: ${K8S_NODE_NAME}
      zpages: null
    processors:
      batch:
        metadata_keys:
        - X-SF-Token
      filter/logs:
        logs:
          exclude:
            match_type: strict
            resource_attributes:
            - key: splunk.com/exclude
              value: "true"
      k8sattributes:
        extract:
          annotations:
          - from: pod
            key: splunk.com/sourcetype
          - from: namespace
            key: splunk.com/exclude
            tag_name: splunk.com/exclude
          - from: pod
            key: splunk.com/exclude
            tag_name: splunk.com/exclude
          - from: namespace
            key: splunk.com/index
            tag_name: com.splunk.index
          - from: pod
            key: splunk.com/index
            tag_name: com.splunk.index
          labels:
          - key: app
          metadata:
          - k8s.namespace.name
          - k8s.node.name
          - k8s.pod.name
          - k8s.pod.uid
          - container.id
          - container.image.name
          - container.image.tag
        filter:
          node_from_env_var: K8S_NODE_NAME
        pod_association:
        - sources:
          - from: resource_attribute
            name: k8s.pod.uid
        - sources:
          - from: resource_attribute
            name: k8s.pod.ip
        - sources:
          - from: resource_attribute
            name: ip
        - sources:
          - from: connection
        - sources:
          - from: resource_attribute
            name: host.name
      memory_limiter:
        check_interval: 2s
        limit_mib: ${SPLUNK_MEMORY_LIMIT_MIB}
      probabilistic_sampler:
        hash_seed: 22
        sampling_percentage: 15.3
      resource:
        attributes:
        - action: insert
          key: k8s.node.name
          value: ${K8S_NODE_NAME}
        - action: upsert
          key: k8s.cluster.name
          value: CHANGEME
      resource/add_agent_k8s:
        attributes:
        - action: insert
          key: k8s.pod.name
          value: ${K8S_POD_NAME}
        - action: insert
          key: k8s.pod.uid
          value: ${K8S_POD_UID}
        - action: insert
          key: k8s.namespace.name
          value: ${K8S_NAMESPACE}
      resource/add_mode:
        attributes:
        - action: insert
          key: otelcol.service.mode
          value: agent
      resource/logs:
        attributes:
        - action: upsert
          from_attribute: k8s.pod.annotations.splunk.com/sourcetype
          key: com.splunk.sourcetype
        - action: delete
          key: k8s.pod.annotations.splunk.com/sourcetype
        - action: delete
          key: splunk.com/exclude
      resourcedetection:
        detectors:
        - env
        - system
        override: true
        timeout: 15s
    receivers:
      hostmetrics:
        collection_interval: 10s
        root_path: /hostfs
        scrapers:
          cpu: null
          disk: null
          filesystem:
            include_mount_points:
              match_type: strict
              mount_points:
              - /
          load: null
          memory: null
          network: null
          paging: null
          processes: null
      jaeger:
        protocols:
          grpc:
            endpoint: 0.0.0.0:14250
          thrift_http:
            endpoint: 0.0.0.0:14268
      kubeletstats:
        auth_type: serviceAccount
        collection_interval: 10s
        endpoint: ${K8S_NODE_IP}:10250
        extra_metadata_labels:
        - container.id
        metric_groups:
        - container
        - pod
        - node
        metrics:
          container.cpu.usage:
            enabled: false
          k8s.node.cpu.usage:
            enabled: false
          k8s.pod.cpu.usage:
            enabled: false
      nop: null
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus/agent:
        config:
          scrape_configs:
          - job_name: otel-agent
            metric_relabel_configs:
            - action: drop
              regex: promhttp_metric_handler_errors.*
              source_labels:
              - __name__
            - action: drop
              regex: otelcol_processor_batch_.*
              source_labels:
              - __name__
            scrape_interval: 10s
            static_configs:
            - targets:
              - localhost:8889
      receiver_creator:
        receivers:
          prometheus/coredns:
            config:
              config:
                scrape_configs:
                - job_name: coredns
                  metric_relabel_configs:
                  - action: keep
                    regex: (coredns_dns_request_duration_seconds|coredns_cache_misses_total|coredns_cache_hits_total|coredns_cache_entries|coredns_dns_responses_total|coredns_dns_requests_total|rest_client_requests_total|rest_client_request_duration_seconds)(?:_sum|_count|_bucket)?
                    source_labels:
                    - __name__
                  static_configs:
                  - targets:
                    - '`endpoint`:9153'
            rule: type == "pod" && labels["k8s-app"] == "kube-dns"
          prometheus/kube-controller-manager:
            config:
              config:
                scrape_configs:
                - authorization:
                    credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
                    type: Bearer
                  job_name: kube-controller-manager
                  metric_relabel_configs:
                  - action: keep
                    regex: (workqueue_longest_running_processor_seconds|workqueue_unfinished_work_seconds|workqueue_depth|workqueue_retries_total|workqueue_queue_duration_seconds)(?:_sum|_count|_bucket)?
                    source_labels:
                    - __name__
                  scheme: https
                  static_configs:
                  - targets:
                    - '`endpoint`:10257'
                  tls_config:
                    ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                    insecure_skip_verify: true
            rule: type == "pod" && (labels["k8s-app"] == "kube-controller-manager" ||
              labels["component"] == "kube-controller-manager")
          prometheus/kubernetes-apiserver:
            config:
              config:
                scrape_configs:
                - authorization:
                    credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
                    type: Bearer
                  job_name: kubernetes-apiserver
                  metric_relabel_configs:
                  - action: keep
                    regex: (apiserver_longrunning_requests|apiserver_request_duration_seconds|apiserver_storage_objects|apiserver_response_sizes|apiserver_request_total|rest_client_requests_total|rest_client_request_duration_seconds)(?:_sum|_count|_bucket)?
                    source_labels:
                    - __name__
                  scheme: https
                  static_configs:
                  - targets:
                    - '`endpoint`'
                  tls_config:
                    ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                    insecure_skip_verify: true
            rule: type == "port" && port == 443 && (pod.labels["k8s-app"] == "kube-apiserver"
              || pod.labels["component"] == "kube-apiserver")
          prometheus/kubernetes-proxy:
            config:
              config:
                scrape_configs:
                - job_name: kubernetes-proxy
                  metric_relabel_configs:
                  - action: keep
                    regex: (kubeproxy_sync_proxy_rules_iptables_restore_failures_total|kubeproxy_sync_proxy_rules_service_changes_total|kubeproxy_sync_proxy_rules_service_changes_pending|kubeproxy_sync_proxy_rules_duration_seconds|kubeproxy_network_programming_duration_seconds)(?:_sum|_count|_bucket)?
                    source_labels:
                    - __name__
                  static_configs:
                  - targets:
                    - '`endpoint`:10249'
            rule: type == "pod" && labels["k8s-app"] == "kube-proxy"
          prometheus/kubernetes-scheduler:
            config:
              config:
                scrape_configs:
                - authorization:
                    credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
                    type: Bearer
                  job_name: kubernetes-scheduler
                  metric_relabel_configs:
                  - action: keep
                    regex: (rest_client_request_duration_seconds|rest_client_requests_total|scheduler_pending_pods|scheduler_schedule_attempts_total|scheduler_queue_incoming_pods_total|scheduler_preemption_attempts_total|scheduler_scheduling_algorithm_duration_seconds|scheduler_pod_scheduling_sli_duration_seconds)(?:_sum|_count|_bucket)?
                    source_labels:
                    - __name__
                  scheme: https
                  static_configs:
                  - targets:
                    - '`endpoint`:10259'
                  tls_config:
                    ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                    insecure_skip_verify: true
            rule: type == "pod" && (labels["k8s-app"] == "kube-scheduler" || labels["component"]
              == "kube-scheduler")
        watch_observers:
        - k8s_observer
      signalfx:
        endpoint: 0.0.0.0:9943
      zipkin:
        endpoint: 0.0.0.0:9411
    service:
      extensions:
      - health_check
      - headers_setter
      - k8s_observer
      - zpages
      pipelines:
        logs/entities:
          exporters:
          - otlphttp/entities
          processors:
          - memory_limiter
          - batch
          - resourcedetection
          - resource
          receivers:
          - nop
        metrics:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resourcedetection
          - resource
          receivers:
          - hostmetrics
          - kubeletstats
          - otlp
          - signalfx
        metrics/agent:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource/add_agent_k8s
          - resourcedetection
          - resource
          - resource/add_mode
          receivers:
          - prometheus/agent
        metrics/histograms:
          exporters:
          - signalfx/histograms
          processors:
          - memory_limiter
          - batch
          - resource/add_agent_k8s
          - resourcedetection
          - resource
          receivers:
          - receiver_creator
        traces:
          exporters:
          - otlphttp
          - signalfx
          processors:
          - memory_limiter
          - probabilistic_sampler
          - k8sattributes
          - batch
          - resource
          - resourcedetection
          receivers:
          - otlp
          - jaeger
          - zipkin
      telemetry:
        metrics:
          readers:
          - pull:
              exporter:
                prometheus:
                  host: localhost
                  port: 8889
                  without_scope_info: true
                  without_type_suffix: true
                  without_units: true
        resource:
          service.name: otel-agent
