clusterName: CHANGEME
splunkObservability:
  realm: CHANGEME
  accessToken: CHANGEME
  metricsEnabled: true
  logsEnabled: true
  tracesEnabled: true
agent:
  enabled: true
  config:
    receivers:
      kafkametrics:
        brokers: kafka-service:9092
        protocol_version: 2.0.0
        scrapers:
          - brokers
          - topics
          - consumers
    service:
      pipelines:
        metrics:
          receivers: [ kafkametrics ]
