---
# Source: splunk-otel-collector/charts/operator/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  labels:
    helm.sh/chart: operator-0.71.2
    app.kubernetes.io/name: operator
    app.kubernetes.io/version: "0.110.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    
    app.kubernetes.io/component: controller-manager
  name: default-operator
  namespace: default
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https
    - name: metrics
      port: 8080
      protocol: TCP
      targetPort: metrics
  selector:
      app.kubernetes.io/name: operator
      app.kubernetes.io/component: controller-manager
---
# Source: splunk-otel-collector/charts/operator/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  labels:
    helm.sh/chart: operator-0.71.2
    app.kubernetes.io/name: operator
    app.kubernetes.io/version: "0.110.0"
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    
    app.kubernetes.io/component: controller-manager
  name: default-operator-webhook
  namespace: default
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: webhook-server
  selector:
      app.kubernetes.io/name: operator
      app.kubernetes.io/component: controller-manager
