---
# Source: splunk-otel-collector/templates/configmap-cluster-receiver.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: default-splunk-otel-collector-otel-k8s-cluster-receiver
  namespace: default
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.130.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.130.0"
    app: splunk-otel-collector
    chart: splunk-otel-collector-0.130.0
    release: default
    heritage: Helm
data:
  relay: |
    exporters:
      signalfx:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: https://api.CHANGEME.signalfx.com
        ingest_url: https://ingest.CHANGEME.signalfx.com
        timeout: 10s
      signalfx/histograms:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: https://api.CHANGEME.signalfx.com
        ingest_url: https://ingest.CHANGEME.signalfx.com
        send_otlp_histograms: true
        timeout: 10s
    extensions:
      health_check:
        endpoint: 0.0.0.0:13134
      k8s_observer:
        auth_type: serviceAccount
        observe_nodes: true
        observe_pods: true
    processors:
      batch:
        send_batch_max_size: 32768
      memory_limiter:
        check_interval: 2s
        limit_mib: ${SPLUNK_MEMORY_LIMIT_MIB}
      resource:
        attributes:
        - action: insert
          key: metric_source
          value: kubernetes
        - action: upsert
          key: k8s.cluster.name
          value: CHANGEME
      resource/add_collector_k8s:
        attributes:
        - action: insert
          key: k8s.node.name
          value: ${K8S_NODE_NAME}
        - action: insert
          key: k8s.pod.name
          value: ${K8S_POD_NAME}
        - action: insert
          key: k8s.pod.uid
          value: ${K8S_POD_UID}
        - action: insert
          key: k8s.namespace.name
          value: ${K8S_NAMESPACE}
        - action: insert
          key: cloud.platform
          value: aws_eks
        - action: insert
          key: cloud.provider
          value: aws
      resource/add_mode:
        attributes:
        - action: insert
          key: otelcol.service.mode
          value: clusterReceiver
      resource/k8s_cluster:
        attributes:
        - action: insert
          key: receiver
          value: k8scluster
      resourcedetection:
        detectors:
        - env
        - system
        override: true
        timeout: 15s
    receivers:
      k8s_cluster:
        auth_type: serviceAccount
        metadata_exporters:
        - signalfx
      prometheus/k8s_cluster_receiver:
        config:
          scrape_configs:
          - job_name: otel-k8s-cluster-receiver
            metric_relabel_configs:
            - action: drop
              regex: promhttp_metric_handler_errors.*
              source_labels:
              - __name__
            - action: drop
              regex: otelcol_processor_batch_.*
              source_labels:
              - __name__
            scrape_interval: 10s
            static_configs:
            - targets:
              - localhost:8899
      prometheus/kubernetes-apiserver:
        config:
          scrape_configs:
          - authorization:
              credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            job_name: kubernetes-apiserver
            metric_relabel_configs:
            - action: keep
              regex: (apiserver_longrunning_requests|apiserver_request_duration_seconds|apiserver_storage_objects|apiserver_response_sizes|apiserver_request_total|rest_client_requests_total|rest_client_request_duration_seconds)(?:_sum|_count|_bucket)?
              source_labels:
              - __name__
            scheme: https
            static_configs:
            - targets:
              - ${KUBERNETES_SERVICE_HOST}:443
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      receiver_creator:
        receivers:
          kubeletstats:
            config:
              auth_type: serviceAccount
              collection_interval: 10s
              endpoint: '`endpoint`:`kubelet_endpoint_port`'
              extra_metadata_labels:
              - container.id
              metric_groups:
              - container
              - pod
              - node
            rule: type == "k8s.node" && name contains "fargate"
        watch_observers:
        - k8s_observer
    service:
      extensions:
      - health_check
      - k8s_observer
      pipelines:
        metrics:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource
          - resource/k8s_cluster
          receivers:
          - k8s_cluster
        metrics/collector:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource/add_collector_k8s
          - resourcedetection
          - resource
          - resource/add_mode
          receivers:
          - prometheus/k8s_cluster_receiver
        metrics/eks:
          exporters:
          - signalfx
          processors:
          - memory_limiter
          - batch
          - resource
          receivers:
          - receiver_creator
        metrics/histograms:
          exporters:
          - signalfx/histograms
          processors:
          - memory_limiter
          - batch
          - resource
          receivers:
          - prometheus/kubernetes-apiserver
      telemetry:
        metrics:
          readers:
          - pull:
              exporter:
                prometheus:
                  host: localhost
                  port: 8899
                  without_scope_info: true
                  without_type_suffix: true
                  without_units: true
        resource:
          service.name: otel-k8s-cluster-receiver
