---
# Source: splunk-otel-collector/templates/deployment-gateway.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: default-splunk-otel-collector
  labels:
    app.kubernetes.io/name: splunk-otel-collector
    helm.sh/chart: splunk-otel-collector-0.70.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "0.70.0"
    app: splunk-otel-collector
    component: otel-collector
    chart: splunk-otel-collector-0.70.0
    release: default
    heritage: Helm
    app.kubernetes.io/component: otel-collector
spec:
  replicas: 3
  selector:
    matchLabels:
      app: splunk-otel-collector
      component: otel-collector
      release: default
  template:
    metadata:
      labels:
        app: splunk-otel-collector
        component: otel-collector
        release: default
      annotations:
        checksum/config: 4bfe8002d655d77fd9c91437a5fdfa6b21f8d1a6888dffc8bd352a18f10b0204
    spec:
      serviceAccountName: default-splunk-otel-collector
      nodeSelector:
          kubernetes.io/os: linux
      initContainers:
        - name: patch-log-dirs
          image: registry.access.redhat.com/ubi9/ubi
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', '
          mkdir -p /var/addon/splunk/persist/gateway;
          chown -Rv 999:999 /var/addon/splunk/persist/gateway;
          chmod -v g+rwxs /var/addon/splunk/persist/gateway;
          setfacl -n -Rm d:m::rx,m::rx,d:g:999:rx,g:999:rx /var/addon/splunk/persist/gateway;']
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: persistent-queue
              mountPath: /var/addon/splunk/persist/gateway
      containers:
      - name: otel-collector
        command:
        - /otelcol
        - --config=/conf/relay.yaml
        image: quay.io/signalfx/splunk-otel-collector:0.70.0
        imagePullPolicy: IfNotPresent
        env:
          - name: SPLUNK_MEMORY_TOTAL_MIB
            value: "8192"
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          - name: K8S_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: K8S_POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: K8S_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SPLUNK_OBSERVABILITY_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: splunk-otel-collector
                key: splunk_observability_access_token
        ports:
        - name: http-forwarder
          containerPort: 6060
          protocol: TCP
        - name: jaeger-grpc
          containerPort: 14250
          protocol: TCP
        - name: jaeger-thrift
          containerPort: 14268
          protocol: TCP
        - name: otlp
          containerPort: 4317
          protocol: TCP
        - name: otlp-http
          containerPort: 4318
          protocol: TCP
        - name: otlp-http-old
          containerPort: 55681
          protocol: TCP
        - name: signalfx
          containerPort: 9943
          protocol: TCP
        - name: zipkin
          containerPort: 9411
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /
            port: 13133
        livenessProbe:
          httpGet:
            path: /
            port: 13133
        resources:
          limits:
            cpu: 4
            memory: 8Gi
        volumeMounts:
        - name: persistent-queue
          mountPath: /var/addon/splunk/persist/gateway
        - mountPath: /conf
          name: collector-configmap
      terminationGracePeriodSeconds: 600
      volumes:
      - name: collector-configmap
        configMap:
          name: default-splunk-otel-collector-otel-collector
          items:
            - key: relay
              path: relay.yaml
      - name: persistent-queue
        hostPath:
          path: /var/addon/splunk/persist/gateway
          type: DirectoryOrCreate
