---
splunkObservability:
  realm:       CHANGEME
  accessToken: CHANGEME
  ingestUrl: {{ .AgentEndpoint }}
  apiUrl: {{ .ApiURLEndpoint }}

splunkPlatform:
  token: foobar
  endpoint: {{ .LogHecEndpoint }}

agent:
  config:
    exporters:
      otlp:
        endpoint: {{ .OtlpEndpoint }}
        tls:
          insecure: true
      file:
        path: /tmp/metrics.json
    service:
      pipelines:
        traces:
          exporters:
            - otlp
        metrics/agent:
          exporters:
            - file
clusterReceiver:
  eventsEnabled: true
  config:
    exporters:
      signalfx:
        ingest_url: {{ .K8sClusterEndpoint }}
        tls:
          insecure: true
      file:
        path: /tmp/metrics.json
    service:
      pipelines:
        metrics/collector:
          exporters:
            - file

  k8sObjects:
    - name: pods
    - name: namespaces
    - name: nodes
    - name: events
      mode: watch

extraAttributes:
  fromAnnotations:
    - key: splunk.com/customField
      tag_name: customField
  fromLabels:
    - key: app
      from: pod
    - key: app
      from: namespace

  custom:
   - name: "cluster_name"
     value: "ci-gke-k8s-cluster"
   - name: "customfield1"
     value: "customvalue1"
   - name: "customfield2"
     value: "customvalue2"

clusterName: test
environment: test
cloudProvider: gcp
distribution: gke
operatorcrds:
  install: true
operator:
  enabled: true
  admissionWebhooks:
    certManager:
      enabled: false
    autoGenerateCert:
      enabled: true
