name: functional-tests


on:
  pull_request:
  push:
    branches: [ main ]

env:
  # Make sure to exit early if cache segment download times out after 2 minutes.
  # We limit cache download as a whole to 5 minutes.
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
jobs:
  kubernetes-test:
    env:
      KUBECONFIG: /tmp/kube-config-splunk-otel-collector-chart-functional-testing
    strategy:
      fail-fast: false
      matrix:
        # The kubernetes_version matrix entries are currently following native Kubernetes version support and +1, see: https://endoflife.date/kubernetes
        # To check latest versions, see: https://hub.docker.com/r/kindest/node/tags
        k8s-version:
          - v1.29.0 # Support: 28 Dec 2024 - 28 Feb 2025
          - v1.28.0 # Support: 28 Aug 2024 - 28 Oct 2024
          - v1.27.3  # Support: 28 Apr 2024 - 28 Jun 2024
          - v1.26.6 # Support: 28 Dec 2023 - 28 Feb 2024
          - v1.25.11 # Support: 27 Aug 2023 - 27 Oct 2023
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ~1.20.8
          cache: false
      - name: Cache Go
        id: go-cache
        timeout-minutes: 5
        uses: actions/cache@v3
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
          key: go-cache-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
      - name: Create kind cluster
        uses: helm/kind-action@v1.8.0
        with:
          node_image: kindest/node:${{ matrix.k8s-version }}
          kubectl_version: ${{ matrix.k8s-version }}
          cluster_name: kind
          config: ./.github/workflows/configs/kind-config.yaml
      - name: Fix kubelet TLS server certificates
        run: |
          kubectl get csr -o=jsonpath='{range.items[?(@.spec.signerName=="kubernetes.io/kubelet-serving")]}{.metadata.name}{" "}{end}' | xargs kubectl certificate approve
      - name: Update dependencies
        run: |
          make dep-update
      - name: Deploy cert-manager
        run: |
          make cert-manager
      - name: run functional tests
        run: |
          cd functional_tests
          go test -v

  eks-test:
    name: Test helm install in EKS - credentials needed
    needs: kubernetes-test
    if: github.event.pull_request.head.repo.full_name == github.repository
    concurrency:
      group: eks-access
    env:
      KUBECONFIG: /tmp/kube-config-splunk-otel-collector-chart-functional-testing-eks
      SKIP_TESTS: "true" # we need to skip functional tests as we have not set probes to listen to the traffic.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ~1.20.8
          cache: false
      - name: Cache Go
        id: go-cache
        timeout-minutes: 5
        uses: actions/cache@v3
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
          key: go-cache-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-west-1
      - name: Install kubeconfig
        run: |
          aws eks update-kubeconfig --name rotel-eks --region us-west-1
      - name: Update dependencies
        run: |
          make dep-update
      - name: Deploy cert-manager
        run: |
          make cert-manager
      - name: run functional tests
        env:
          HOST_ENDPOINT: 0.0.0.0
        run: |
          cd functional_tests
          go test -v
  eks-upgrade-test:
    name: Test helm upgrade in EKS - credentials needed
    needs: kubernetes-test
    if: github.event.pull_request.head.repo.full_name == github.repository
    concurrency:
      group: eks-access
    env:
      KUBECONFIG: /tmp/kube-config-splunk-otel-collector-chart-functional-testing-eks
      SKIP_TESTS: "true" # we need to skip functional tests as we have not set probes to listen to the traffic.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout main if in a PR
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          path: base
          ref: main
      - name: Checkout previous main commit if in main
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v4
        with:
          path: base
          ref: HEAD
          fetch-depth: 2
      - name: Checkout previous main commit if in main
        if: github.event_name != 'pull_request'
        run: cd base && git checkout HEAD^
      - uses: actions/setup-go@v5
        with:
          go-version: ~1.20.8
          cache: false
      - name: Cache Go
        id: go-cache
        timeout-minutes: 5
        uses: actions/cache@v3
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
          key: go-cache-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-west-1
      - name: Install kubeconfig
        run: |
          aws eks update-kubeconfig --name rotel-eks --region us-west-1
      - name: Update dependencies
        run: |
          cd base && make dep-update
      - name: Deploy cert-manager
        run: |
          cd base && make cert-manager
      - name: Deploy previous version of the chart
        run: |
          cd base && helm install sock helm-charts/splunk-otel-collector --set cloudProvider=aws --set distribution=eks --set splunkObservability.realm=us0 --set splunkObservability.accessToken=xxxxx
      - name: Update dependencies
        run: |
          make dep-update
      - name: Deploy cert-manager
        run: |
          make cert-manager
      - name: run functional tests
        env:
          HOST_ENDPOINT: 0.0.0.0
        run: |
          cd functional_tests
          go test -v
