name: Lint and Test Charts

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.18.0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0
        with:
          version: v3.12.0

      - name: Set up chart dependencies
        run: make dep-update

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config=ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: make lint

      - name: Run helm unit tests
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest
          make unittest

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0
        # Only build a kind cluster if there are chart changes to test.
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config=ct.yaml
