name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Install Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.18.2
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Run pre-commit
      uses: ./.github/actions/run-precommit
      with:
        continue-on-error: 'false'
