name: Release Charts

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  maybe_update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check if the release is needed
        id: check_update_chart
        run: |
          LATEST_VERSION=$(curl -s https://api.github.com/repos/signalfx/splunk-otel-collector-chart/releases/latest | grep tag_name | cut -d - -f 4 | cut -d \" -f 1)
          CURRENT_VERSION=$(cat helm-charts/splunk-otel-collector/Chart.yaml | grep -E "^version:" | cut -d " " -f 2)
          if [ "$LATEST_VERSION" != "$CURRENT_VERSION" ]; then
            echo "New release needed, creating..."
            echo "NEED_RELEASE=1" >> $GITHUB_OUTPUT
          else
            echo "No new release needed"
            echo "NEED_RELEASE=0" >> $GITHUB_OUTPUT
          fi
          exit 0

      - name: Configure Git
        run: git config user.name "$GITHUB_ACTOR" && git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        if: ${{ steps.check_update_chart.outputs.NEED_RELEASE == 1 }}

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.11.3
        if: ${{ steps.check_update_chart.outputs.NEED_RELEASE == 1 }}

      - name: Set up chart dependencies
        run: make render
        if: ${{ steps.check_update_chart.outputs.NEED_RELEASE == 1 }}

      - name: Generate Release Notes
        run: make chlog-release-notes OUTPUT=file
        if: ${{ steps.check_update_chart.outputs.NEED_RELEASE == 1 }}

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: helm-charts
          config: .github/workflows/configs/cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        if: ${{ steps.check_update_chart.outputs.NEED_RELEASE == 1 }}
